body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}


a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
}

h2 {
  font-family: 'Domine', serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

h3 {
  font-family: "Domine", serif;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: var(--dusk);
}

p,
li {
  font-family: "Montserrat", serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #636c98;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.content {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 105;
}

.H2-Subtitle {
  font-family: 'Montserrat', serif;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #636c98;
}

.yellow-button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.57);
  background-color: #ffd540;
  white-space: normal;
  font-weight: 600;
  color: #3e3e3e;
  vertical-align: middle;
  user-select: none;
}

.regular-content {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 105;
  box-sizing: border-box;
}

.background-element {
  position: absolute;
  z-index: 100;
}

.application-btn {
  display: block;
  border-radius: 16.5px;
  width: 100%;
  max-width: 178px;
  padding: 7px 0;
  margin: 5px auto;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
}

.yellow-button,
#yellow-button-application-process,
#yellow-button-support,
#yellow-button-contact {
  font-size: 18px;
  padding: 16px 10px 14px;
  width: 100%;
  max-width: 333px
}

#homepage {
  transform: skewY(-9deg);
  transform-origin: top left;
  padding-bottom: 160px;

  .content {
    transform: skewY(9deg);
    transform-origin: top left;
  }

  .container {
    z-index: 100;
  }

  #homepage-navbar-container {
    #homepage-navbar {
      padding: 50px 0 0;

      .container {
        z-index: 105;

        .logo {
          font-family: "Maven Pro", sans-serif;
          font-size: 38px;
          font-weight: bold;
          color: $white;
        }
      }
    }
  }

  #homepage-header {
    margin-top: 163px;
    position: relative;
    z-index: 105;

    .head-line {
      font-family: "Domine", serif;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.27;
    }

    .head-text {
      font-size: 1.25rem;
      line-height: 1.65;
      margin-top: 15px;
      margin-right: 30px;
      color: #fff;
    }

    button {
      display: inline-block;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      padding: 16px 0 14px 0;
    }
  }

  .student-typing {
    position: absolute;
    box-sizing: border-box;
    max-width: 70vw;
    max-height: 793px;
    height: auto;
    top: -10px;
    right: -210px;
    z-index: 100;

    @media (max-width: 767.98px) {
      max-width: 120vw;
      top: 100px;
      right: -200px;
    }

    @media (max-width: 991.98px) {
      top: 90px;
    }
  }

  .half-loop {
    position: absolute;
    max-height: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
    max-width: 32.2vw;
    width: 288px;

    @media (min-width: 991.98px) {
      max-width: 20.7vw;
      width: 269px;
    }
  }

  #header-square-1 {
    top: 161px;
    left: 42vw;
    z-index: 100;
  }

  #header-square-2 {
    bottom: -72px;
    left: 7.2vw;
    z-index: 100;
  }
}

#life-changing-experience {
  position: relative;
  background-color: var(--very-light-blue);
  padding-bottom: 40px;
  transform: skewY(-9deg);
  transform-origin: top left;

  .content {
    width: 100%;
    background-color: var(--very-light-blue);
    transform: skew(0deg, 9deg);
    transform-origin: top left;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 105;
  }

  &:after {
    content: "";
    background-color: var(--very-light-blue);
    display: block;
    width: 100%;
    height: var(--oPadding);
    min-height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    transform-origin: bottom left;
    transform: skewY(9deg);
    z-index: -1;
  }

  #life-changing-experience-title {
    background: url(../images/path-5185.svg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    resize: both;
    padding: 23px 18px 15px;
    margin: 46px 0 24px;
    overflow: visible;
  }

  h2 {
    font-family: "Domine";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  #life-changing-experience-subtitle {
    font-size: 1.25rem;
    margin-bottom: 49px;
  }

  #life-changing-selling-points {

    h3 {
      padding: 0 25px;
      margin: 37px 0 9px 0;
      font-size: 18px;
      line-height: 1.33
    }


    p {
      padding: 0 25px;
      margin-bottom: 59px;
      line-height: 1.41;
      font-size: 17px;
      color: var(--gray);
    }
  }
}

#student-life {
  position: relative;
  z-index: 102;
  margin-bottom: var(--oPadding);



  #student-life-title {
    color: #f9f9f9;
    background: url(../images/path-5185-2.svg) no-repeat;
    background-size: 100% 100%;
    resize: both;
    background-position: center;
    padding: 21px 18px 17px;
    margin: 87px 0 15px;
    overflow: visible;
  }



  #student-life-subtitle {
    padding: 0;
    margin-bottom: 83px;
  }

  .student-life-copy {
    padding-bottom: 45px;

    img {
      margin: -16px 0 0 -22px;
      z-index: -1;
    }

    h3 {
      margin-top: 25px;
      margin-bottom: 19px;
    }
  }


  #student-life-selling-point-1,
  #student-life-selling-point-2 {
    margin-bottom: 184px;
  }

  #daily-schedule-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-bottom: 115px;

    thead {
      tr {
        th {
          box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
          background-color: rgba(111, 35, 255, 0.67);
          font-family: 'Domine', serif;
          font-size: 19px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #fff;
          padding: 12px 0 12px 18px;
          margin: 0;
          border-collapse: collapse;
        }
      }
    }

    tbody {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      color: var(--dusk);
      background-color: transparent;

      tr {
        box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
      }
    }
  }

  .table-header-line-2 {
    font-size: 15px;
    margin-top: 4px;
  }

  .thin-col {
    font-size: 16px;
    width: 146px;
    text-align: center;
    padding: 15px 0 15px;
  }

  .wide-col {
    font-size: 17px;
    font-weight: bold;
    padding: 15px 0 15px 15px;
    border-left: 1px solid #ebebeb;
  }

  #half-circle-1 {
    max-width: 13vw;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 399px;
    right: 0;
    z-index: -2;
  }

  #half-circle-2 {
    max-width: 11vw;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 756px;
    left: 0;
    z-index: -2;
  }

  #half-circle-3 {
    max-width: 13vw;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 1296px;
    right: 0;
    z-index: -2;
  }
}

#world-class-curriculum {
  background-color: var(--very-light-blue);
  position: relative;
  margin: 0;
  padding: 50px 0 var(--oPadding) 0;
  transform: skewY(-9deg);
  transform-origin: top left;
  z-index: 102;

  .content {
    transform: skewY(9deg);
    transform-origin: top left;

    #world-class-curriculum-title {
      background: url(../images/brush-stroke-banner-1-onlygfx-dot-com-3.svg) no-repeat;
      background-size: 100% 100%;
      resize: both;
      background-position: left;
      padding: 22px 52px 16px;
      margin: 16px -22px 25px;
      float: left;
      text-align: left;
    }

    .world-class-curriculum-copy {
      padding: 0 68px 0 30px;
      font-size: 20px;
      line-height: 1.65;
      clear: both;
    }

    #curriculum-overview-table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 7px;
      box-shadow: 2px 14px 6px rgba(181, 181, 181, 0.3);
      box-sizing: border-box;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      border-bottom: 18px solid transparent;

      .curriculum-btn {
        display: block;
        border-radius: 22px;
        font-family: 'Montserrat', serif;
        font-weight: 600;
        text-align: center;
        white-space: normal;
        word-wrap: break-word;
        margin: 0 20px 0 0;
        float: right;
      }

      .tealish-button {
        background-color: rgba(65, 211, 189, 0.5);
        font-size: 12px;
        color: var(--very-light-blue);
        padding: 4px 5px;
        width: 28.1vw;
        max-width: 156px;
      }

      .clickable-header.expanded {
        color: #fff;
        background-color: var(--purplish-blue);
        border-left: 18px solid var(--tealish);

        td {
          border-top: 36px solid transparent;
          border-bottom: 22px solid transparent;
          padding: 0 0 6px;
          margin: 0;
          outline: none;
        }

        .arrow-toggler {
          width: 18px;
          height: 9px;
          margin: auto 20px;
        }

        .gray-button {
          background-color: #fcfcfc;
          font-size: 15px;
          color: var(--purplish-blue);
          padding: 5px 0 6px;
          width: 23vw;
          max-width: 126px;
        }
      }

      .clickable-header.collapsed {
        color: var(--dusk);

        td {
          padding: 6px 0;
          margin: 0;
          outline: none;
        }

        .arrow-toggler {
          width: 9px;
          height: 18px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .gray-button {
          background-color: #ede4ff;
          font-size: 15px;
          color: #935dff;
          padding: 6px 0;
          width: 23vw;
          max-width: 126px;
        }
      }

      .clickable-header {
        font-family: 'Montserrat', serif;
        font-size: 18px;
        font-weight: 600;

        .spacer {
          height: 27px;
          background-color: transparent;
        }

      }

      .collapsible-row-group {
        background-color: #f7f3ff;
        font-family: 'Montserrat', serif;
        font-size: 15px;
        font-weight: 600;
        color: var(--dusk);
        padding-top: 11px;
        border-bottom: 29px solid transparent;

        td {
          padding: 4px 0;
        }
      }


    }

    .logos-box.big {
      margin-top: 84px;

      img {
        height: 80px;
        margin-left: 25px;
        margin-right: 20px;
        filter: grayscale(90%);
        mix-blend-mode: luminosity;
        width: auto;
        min-width: 0px;
        flex-basis: 0px;
        flex-grow: 1;
      }
    }

    .logos-box {
      margin-right: -20px;
      flex-direction: row;
      flex-wrap: nowrap;
      min-height: auto;
      align-items: baseline;
    }

    hr {
      margin: 95px 0 104px;
      width: 100%;
      height: 2px;
      border: 1px;
      color: #e9e9e9;
      background-color: #e9e9e9;
      border-color: #e9e9e9;
    }

    #get-syllabus-title {
      font-weight: 600;
      font-size: 20px;
      color: var(--dusk);
      margin-bottom: 0
    }

    #get-syllabus-form {
      padding-bottom: 144px;
      text-align: center;

      #get-syllabus-email {
        width: 100%;
        height: 52px;
        padding: 0 24px;
        font-size: 20px;
        line-height: 1.65;
        color: #8994c6;
        text-overflow: ellipsis;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(185, 185, 185, 0.5);
        background-color: #fff;
        margin: 34px auto 15px auto;
        border-color: transparent;
      }

      #get-syllabus-checkbox-container {
        margin-bottom: 25px;
      }

      #syllabus-checkmark-label {
        font-size: 14px;
        color: var(--dusk);
        font-weight: 400;
      }

      @media (min-width: 768px) {
        #yellow-button-get-syllabus {
          max-width: 262px;
          height: 100%;
          text-align: center;
        }
      }

      #yellow-button-get-syllabus {
        font-size: 18px;
        padding: 16px 0 14px;
        width: 100%;
      }
    }
  }

  .stripe-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -96px;
    max-width: 100%;
    overflow: hidden;

    .stripe {
      z-index: 100;
      border: none;
      height: 48px;
      width: 38.1vw;
      margin: 0 -10px;
      transform: skew(9deg, 0deg);
      transform-origin: top left;
    }

    .pink {
      background: rgba(247, 247, 205, 0.67);
    }

    .tealish {
      background: rgba(65, 211, 189, 0.56);
    }

    .purple {
      background: rgba(111, 35, 255, 0.35)
    }


    .stripe-left-1 {
      width: 38.1vw;
      max-width: 495px;
    }

    .stripe-left-2 {
      width: 28.8vw;
      max-width: 375px;
    }

    .stripe-left-3 {
      width: 11.9vw;
      max-width: 155px;
    }

    .stripe-right-1,
    .stripe-right-2,
    .stripe-right-3 {
      justify-self: end;
    }

    .stripe-right-1 {
      width: 35.3vw;
      max-width: 459px;
    }

    .stripe-right-2 {
      width: 20.2vw;
      max-width: 263px;
    }

    .stripe-right-3 {
      width: 40.4vw;
      max-width: 525px;
    }



  }
}


#global-community {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 100px 0 0;
  transform: skewY(-9deg);
  transform-origin: top left;
  z-index: 101;
  overflow: hidden;
  box-sizing: border-box;

  .content {
    transform: skew(0deg, 9deg);
    transform-origin: top, left;
  }

  #global-community-title {
    background: url(../images/brush-stroke-banner-1-onlygfx-dot-com.svg);
    background-size: 100% 100%;
    resize: both;
    background-position: center;
    padding: 21px 18px 17px;
    margin: 78px 0 19px;
    overflow: visible;
  }

  #global-community-subtitle {
    padding: 0;
    margin-bottom: 42px;
  }

  #testimonials {
    margin-bottom: var(--oPadding);
  }

  @media (min-width: 768px) {
    .featured-testimonial {
      margin-bottom: 40px;
    }
  }

  .featured-testimonial {
    display: flex;
    align-items: flex-start;
  }

  .testimonial-spacer {
    width: 26px;
    height: 100%;
  }

  .student-story-image-container {
    width: 64px;
    height: 64px;
    background-color: #d8d8d8;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 101;
  }

  .student-story-background-image {
    top: 14px;
    left: 12px;
  }



  .testimonial-card {
    width: 100%;
    box-shadow: 0 30px 30px -15px rgba(173, 173, 173, 0.12);
    background-color: #f9fafd;
    padding: 26px 28px 15px 70px;

    p {
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      line-height: 1.57;
      color: #000;
    }

    .quotation-mark {
      margin-left: -37px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 70px;
      color: #e7e7e7;
      float: left;
      line-height: 40px;
    }

    .student-name {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      line-height: 1.43;
      color: var(--dusk);
      margin-bottom: 0px;
    }

    .student-location {
      font-style: normal;
      color: #adadad;
    }


  }

  #community-testimonials {
    margin-top: 80px;

    .copy-rectangle {
      padding-top: 0;
      padding-bottom: var(--oHalfHeight);
      padding-left: 0;
      padding-right: 0;
    }


    .blue-rectangle {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      transform: skewY(-9deg);
      transform-origin: top left;
    }

    .blue-rectangle.left {
      right: 0;
      bottom: 0;
      content: "";
      background-color: var(--very-light-blue);
      display: block;
      width: 150%;
      min-width: 50vw;
      position: absolute;
      z-index: -1;
    }


    .blue-rectangle.right {
      content: "";
      background-color: var(--very-light-blue);
      display: block;
      width: 150%;
      min-width: 50vw;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
    }



    .community-container .yellow-button {
      margin: 25px 0 85px 0;
      font-size: 18px;
      padding: 16px 10px 14px;
      width: 100%;
      max-width: 333px;
    }

    .logos-rectangle {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
      justify-items: center;
      align-items: center;
      position: relative;
      z-index: 105;
      overflow: visible;
      padding-top: 85px;
      padding-bottom: calc(85px + var(--oHalfHeight));

      img {
        width: auto;
        max-width: 90%;
        height: auto;
      }
    }

  }

}


#founders-story {
  background-color: #f7f5ee;
  position: relative;
  margin: 0;
  z-index: 100;
  transform-origin: bottom left;
  transform: skewY(-9deg);

  .content {
    transform: skew(0deg, 9deg);
    transform-origin: top left;
  }

  .ariel-portrait-container {
    position: relative;
    height: 576px;
    width: 100%;
    margin-top: 57px;
  }

  #ariel-portrait {
    position: absolute;
    height: auto;
    max-height: 576px;
    max-width: 100%;
    margin: 57px auto;
    z-index: 101;
    bottom: 0;
    left: 0;
    object-fit: contain;
  }

  #founders-story-title {
    color: #fff;
    background: url(../images/brush-stroke-banner-1-onlygfx-dot-com-5.svg);
    background-size: 100% 100%;
    resize: both;
    background-position: right;
    padding: 22px 62px 16px 30px;
    margin: 0 -32px 51px 0;
    overflow: visible;
    float: right;
    text-align: end;
    position: relative;
    z-index: 105;
    width: 100%;
  }

  p {
    display: block;
    text-align: right;
    clear: right;
    font-size: 20px;
    line-height: 1.65;
    color: var(--dusk);
  }

  .signature-img {
    display: block;
    position: relative;
    float: right;
    margin: 32px 0 0;
    width: 285px;
    max-width: 21.9vw;
    height: auto;
  }

  .signature-text {
    margin: 0 0 69px;
  }


}

#founders-story::after {
  content: "";
  background-color: #f7f5ee;
  display: block;
  width: 100%;
  height: var(--oPadding);
  min-height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  transform-origin: bottom left;
  transform: skewY(9deg);
  z-index: -1
}

#tuition {
  background-color: #fff;
  position: relative;
  padding: 105px 0 119px;
  z-index: 100;
  overflow: hidden;

  #tuition-title {
    background: url(../images/path-5185-2.svg) no-repeat;
    background-size: 100% 100%;
    resize: both;
    background-position: center;
    padding: 22px 18px 16px;
    overflow: visible;
    color: #fff;
    position: relative;
    z-index: 101;
  }

  #tuition-subtitle {
    margin: 47px 0 54px 0;
    padding-bottom: 2em;
    position: relative;
    z-index: 101;
  }

  .white-card {
    position: relative;
    z-index: 101;
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(35, 18, 68, 0.18);
    background-color: #fff;
    text-align: center;
    padding: 38px 70px 45px;
  }

  .big-number {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: var(--dusk);
  }

  .big-number-cont {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--dusk);
    margin: 6px 0 19px;
  }

  .white-card-copy {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.83;
  }

  .tuition-pathway-1 {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    width: 100%;
    height: 245px;
    position: relative;
  }

  .tuition-pathway-2 {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 90px;
    margin-bottom: 119px;
  }

  #step-1,
  #step-2,
  #step-3 {
    position: relative;
    z-index: 105;
    font-weight: 500;
  }

  #step-1 {
    top: 68px;
    left: 18px;
    font-size: 22px;
  }

  #step-2 {
    top: 158px;
    right: 18px;
    text-align: right;
    font-size: 22px;
  }

  #step-3 {
    max-width: 360px;
    justify-self: center;
    margin-top: 16px;
    margin-bottom: 119px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
  }

  svg {
    justify-self: center;

    line {
      stroke: #3e396b;
      fill: none;
      stroke-width: 3px;
      stroke-dasharray: 22px 8px;
    }

    circle {
      fill: #3e396b;
    }
  }

  #square-thingy-6 {
    top: 264px;
    right: 15.6vw;
  }

  #square-thingy-7 {
    top: 645px;
    left: 7.4vw;
  }

  #square-thingy-8 {
    top: 978px;
    right: 10.2vw;
  }

  #square-thingy-9 {
    top: 1181px;
    left: 12vw;
  }

}

#application-process {
  background-color: var(--very-light-blue);
  position: relative;
  margin: 0;
  z-index: 100;

  #application-process-title {
    background: url(../images/brush-stroke-banner-1-onlygfx-dot-com-4.svg) no-repeat;
    background-size: 100% 100%;
    resize: both;
    background-position: center;
    padding: 23px 18px 15px;
    margin: 115px 0 20px;
    overflow: visible;
  }

  #application-process-subtitle {
    padding: 0;
    margin-bottom: 52px;
  }

  #application-process-table {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 11px 12px;
    text-align: center;
    border-radius: 8px;
    align-items: stretch;
    position: relative;
    justify-content: center;

    .header {
      width: 100%;
      border-radius: 8px;
      background-color: var(--purplish-blue);
      align-self: stretch;
      display: flex;
      align-items: center;
      position: relative;

      svg {
        position: absolute;
        z-index: 102;
        top: -16px;
        left: -8px;

        circle {
          fill: var(--tealish);
        }

        text {
          font: 20px 'Montserrat';
          font-weight: bold;
          fill: #fff;
        }

      }

      .H2-Subtitle {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        padding: 18px 24px 18px 30px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
      }
    }

    @media (min-width: 768px) {

      .header.step-1::after,
      .header.step-2::after,
      .header.step-3::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid var(--purplish-blue);
        position: absolute;
        z-index: 101;
        top: calc(50% - 10px);
        right: -12px;
      }
    }

    @media (min-width: 768px) {

      .header.step-2::before,
      .header.step-3::before,
      .header.step-4::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid var(--very-light-blue);
        position: absolute;
        z-index: 100;
        top: calc(50%- 10px);
        left: -4px;
      }
    }

    .table-content {
      border-radius: 8px;
      background-color: #ede4ff;
      align-self: stretch;
      padding: 11px 27px;

      p {
        padding: 26px 0;
        font-size: 16px;
        line-height: 1.81;
        text-align: center;
        color: var(--dusk);
      }
    }

    .step-1 .application-btn {
      background-color: #a06eff;
      color: #fff;
    }

    .step-2 .application-btn {
      background-color: rgba(65, 211, 189, 0.25);
      color: var(--dusk);
    }

    .step-3 .application-btn {
      background-color: rgba(65, 211, 189, 0.25);
      color: var(--dusk);
    }

    .step-4 .application-btn {
      background-color: var(--light-tan);
      color: var(--dusk);
    }

    .no-click {
      pointer-events: none;
    }
  }

  #yellow-button-application-process {
    margin-top: 96px;
    margin-bottom: 15px;
  }

  .copy-after-button {
    font-size: 14px;
    line-height: 2.07;
    margin-bottom: 76px;
  }

}

#faq {
  background-color: #fff;
  position: relative;
  margin: 0;
  z-index: 100;
  overflow: hidden;

  #faq-title {
    background: url(../images/brush-stroke-banner-1-onlygfx-dot-com-5.svg) no-repeat;
    background-size: 100% 100%;
    resize: both;
    background-position: center;
    padding: 22px 18px 16px;
    margin: 95px 0 13px;
    overflow: visible;
    color: #fff;
  }

  #faq-subtitle {
    padding: 0;
    margin-bottom: 72px;
  }

  .faq-copy {
    margin-bottom: 39px;
    padding-right: 30px;

    p {
      font-size: 16px;
      line-height: 2.06;
    }
  }

  .Q {
    font-family: "Avenir Next", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.83;
    color: var(--dusk);
    margin-bottom: 10px;

  }

  #yellow-button-support {
    margin-top: 96px;
    margin-bottom: 22px
  }

  #yellow-button-contact {
    margin-bottom: 159px;
  }

  #half-loop-1 {
    max-width: 24.2vw;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 227px;
    left: 0;
    z-index: 101;
  }

  #half-loop-2 {
    max-width: 24.2vw;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 732px;
    right: 0;
    z-index: 101;
  }

}

footer {
  width: 100%;
  background-color: var(--dusk);
  position: relative;
  z-index: 100;
  overflow: hidden;
  padding-top: 67px;
  padding-bottom: 119px;

  #footer-container {

    h3 {
      font-size: 24px;
      color: #fff;
    }
  }

  .footer-logo {
    font-family: "Maven Pro";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
  }

  .footer-copy {
    margin-top: 28px;
    margin-bottom: 39px;
    font-family: "Montserrat";
    line-height: 1.44;
    color: #fff;
  }

  .social-media-img-link {
    padding-bottom: 69px;
    margin-right: 21px;
  }

  .social-media-img {
    height: 30px;
  }

  .h3-container {
    height: 55px;
    display: flex;
    align-items: center;
  }

  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0;
    }
  }

  .footer-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 2.19;
    color: #d2fff8;
  }

  #square-thingy-10 {
    top: 38px;
    left: 20.9vw;
    z-index: 100
  }

  #square-thingy-11 {
    bottom: 68.2px;
    right: 7vw;
    z-index: 100
  }

}