body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
}

header {
  nav {
    z-index: 999;
  }

  .logo {
    font-family: "Maven Pro", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: white;
  }

  .head-line {
    font-family: "Domine", serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.27;
  }

  .student-typing {
    position: absolute;
    max-width: 70vw;
    max-height: 793px;
    height: auto;
    top: -10px;
    right: -210px;
    z-index: 100;
  }

  .half-loop {
    position: absolute;
    max-height: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
