// Customize CSS To Use Bootstrap & Own Style import

/* import only the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

/* -------begin customization-------- */

$theme-colors: (primary: #6f23ff,
secondary: #ffd540);

:root {
  --dusk: #3e396b;
  --very-light-blue: #f8faff;
  --oPadding: calc(0.16 * 100vw);
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */

@import "../bootstrap/scss/bootstrap.scss";

/* ----------- custom font import  ------------ */

@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Maven+Pro:400,500,700,900|Montserrat:400,500,600,700,900&display=swap");

// font-family: 'Maven Pro', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Domine', serif;

/* ------------ Self-stylying -------------- */

@import "./style";